/* ==UserStyle==
@name           GPlex 2007
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    2007 theme for GPlex (GPlex 2009 edit)
@author         Ebeiw
==/UserStyle== */
@-moz-document domain("www.google.com") {
    #gp-gbar-inner {
        background: none !important;
        height: 24px !important;
        border-bottom: 1px solid #c9d7f1;
    }

    .gp-gbar-link.active {
        color: black !important;
        text-decoration: none !important;
        border-top-color: transparent !important;
    }

    #gp-gbar-inner .gp-gbar-link {
        border-top: none !important;
    }

    .gp-gbar-link,
    .gp-gbar-link:hover:not(.active) {
        color: #00c !important;
        text-decoration: underline !important;
        background: none !important;
        height: 24px !important;
        padding-bottom: 1px !important;
    }

    .arrow {
        border-top-color: #00c !important;
    }

    #ugf-hp-inner {
        margin-top: 0px !important;
    }

    #ugf-hp {
        margin-top: -28px;
    }

    #ugf-hp-search {
        margin-top: 35px !important;
    }
    
    #ugf-hp-buttons {
        top: -14px;
        position: relative;
        
    }
    
    #ugf-search-btn-2{
        position: relative;
        left: 5px;
        font: 13px arial, sans-serif;
    }
    
    #ugf-lucky-btn{
        position: relative;
        right: 7px;
        font: 13px arial, sans-serif;
        height: 70px;
        
    }

    #ugf-search #ugf-searchbar {
        border: none !important;
        width: 397px;
        margin-left: 85px !important;
        background: none !important;
    }

    #ugf-search-value {
        border: revert !important;
        outline: revert !important;
        background: revert !important;
        width: 395px !important;
        height: revert !important;
        font: 13px arial, sans-serif !important;
        vertical-align: bottom;
    }

    #ugf-hp-logo-inner {
        background-image: url(https://www.google.com/intl/en_ALL/images/logo.gif);
        width: 276px !important;
        height: 110px !important;
    }

    #ugf-hp-logo #ugf-hp-logo-inner img {
        visibility: hidden;
    }

    #ugf-search-predictions-container {
        width: 401px !important;
        top: 22px !important;
        margin-left: 85px !important;
    }

    #ugf-searchbar::after {
        content: "Advanced Search\aPreferences\aLanguage Tools";
        white-space: pre;
        text-decoration: underline;
        color: #00c;
        font-size: 10px;
        top: 0;
        position: absolute;
        right: -92px;
    }

    #gp-gbar-settings-button {
        display: none;
    }

    #ugf-hp-footer {
        bottom: unset;
        position: static;
        background: none !important;
        border: none !important;
        width: max-content;
        margin: 31px auto 0 auto;
        flex-flow: row wrap;
    }
    
    #ugf-structured-hp-footer-left,
    #ugf-structured-hp-footer-right {
        margin-left: 0;
        margin-right: 0;
        display: block;
        flex-basis: 100%;
        text-align: center;
    }

    #ugf-hp-footer,
    .ugf-structured-hp-footer-link {
        font-size: 13px;
        line-height: 15px !important;
        color: #00c !important;
        padding-left: 0;
        text-decoration: underline !important;
        border-bottom: #00c solid 0px
    }

    #ugf-structured-hp-footer-left .ugf-structured-hp-footer-link:not(:last-child):after {
        content: "-";
        position: absolute;
        color: black;
        margin-left: 5px;
    }

    #ugf-structured-hp-footer-right .ugf-structured-hp-footer-link {
        font-size: 10px !important;
        line-height: 55px !important;
    }

    #ugf-structured-hp-footer-right .ugf-structured-hp-footer-link:not(:first-child) {
        display: none;
    }

    #ugf-structured-hp-footer-right .ugf-structured-hp-footer-link:first-child {
        display: none;
    }

    #ugf-structured-hp-footer-right::after{
        content: "©2007 Google";
        position: absolute;
        margin-left: -34px;
        color: black;
        font-size: 10px;
        margin-top: 15px;
    }
    
    #ugf-structured-hp-footer-left .ugf-structured-hp-footer-link:not(:first-child) {
        margin-left: 10px;
    
    #ugf-structured-hp-footer-left:first-child {
        display: none;
    }    
    
    #ugf-topbar {
        min-width: 0;
    }
}

@-moz-document regexp(".*google.com/search.*"),
regexp(".*google.com/gplex.*") {
    #ugf-topbar {
        background: none !important;
        border: none !important;
    }

    #ugf-search-value,
    #ugf-searchbar {
        width: 297px !important;
        height: 16px !important;
        font-size: 13px !important;
        right: 77px;
    } 

    #ugf-searchbar::after {
        content: "Advanced Search\aPreferences";
        margin-left: -5px;
    }
    
    #ugf-search-outer,
    #ugp-search {
        position: relative;
        width: 370px;
    }
    
    #ugf-search-predictions-container {
        left: -80px;
    }
    
    button.searchbtn-small {
        position: relative;
        left: -78px;
    }
    
    #ugf-search-results-header {
        width: calc(100% - 13px);
        left: 5px;
        border-top: 1px solid #6b90da;
        background: #f0f7f9;
        height: 27.4px;
        padding: 0;
        top: 97px !important;
    }
    #ugf-search-results-header span {
        font-size: 13px;
        margin-left: auto;
    }
    #ugf-main-inner {
        margin-top: 43px;
    }
    #ugf-left {
        display: none;
    }

    #ugf-search-results-header:before {
        content: "Web";
        font-size: 13px;
        font-weight: bold;
        margin-left: 5px;
    }

    #ugf-main,
    #ugf-footer {
        width: 100%;
        z-index: 10;
    }
    
    #ugf-right {
        display: none;
    }
    
    #gp-page-numbers {
        text-decoration: underline #00c !important;
    }
    
    
    #ugf-footer-links-upper,
    #ugf-footer-links-lower {
        display: none;
    }
    
    #ugf-footer-links-middle .ugf-footer-link.ugf-parse-item:last-child{
        display: none;
    }
        
    #ugf-footer-links .ugf-footer-link.ugf-parse-item{
        margin: 3px;
    }
    
    #ugf-footer-links-middle {
        width: calc(100% - 13px);
        border-top: 1px solid #6b90da;
        background: #f0f7f9 ;
        height: 22px;
        padding: 0;
        top: 97px;
        text-decoration: underline #00c;
        justify-content: center;
    }
    
    #ugf-footer-links-middle::before {
        content: "©2007 Google ";
        color: black;
        font-size: 13px;
        text-decoration: underline #f0f7f9;
    }
    
    #ugf-footer-links-middle .ugf-footer-link.ugf-parse-item:nth-child(3n)::after{
        content: " -";
        color: black;
        text-decoration: underline #f0f7f9;
        
    }
    
    #ugf-footer-links-middle::after {
        content: "About Google";
        color: #00c;
        font-size: 13px;
        
    }
    
    .ugf-footer-link.ugf-parse-item::before {
        content: "- ";
        position: relative;
        color: black;
        margin-right: 1px;
        margin-left: 1px;
        text-decoration: underline #f0f7f9;
    }
    
    
    .gp-pagination .gp-image {
        background-image: url("https://www.google.com/images/nav_logo3.png") !important;
        width: 15px !important;
        height: 26px !important;
        background-position: -44px 0 !important;
    }

    #gp-pagination-prev .gp-image {
        width: 19px !important;
        background-position: -25px 0 !important;
    }

    #gp-pagination-prev.has-prev .gp-image {
        width: 44px !important;
        background-position: 0 0 !important;
    }
    
    #gp-pagination-prev span {
        text-decoration: underline #00c !important;
    }

    .gp-pagination.active .gp-image {
        background-position: -60px 0 !important;
    }

    #gp-pagination-next .gp-image {
        width: 62px !important;
        background-position: -76px 0px !important;
    }

    #gp-pagination-next span {
        margin-left: 35px !important;
        text-decoration: underline #00c !important;
    }


    #ugf-logo-cont {
        padding-right: 0 !important;
        padding-left: 0 !important;
        background: url("https://www.google.com/images/nav_logo3.png");
        background-position: 0px -26px;
        width: 150px;
        height: 49px;
    }
    #ugf-logo-cont img {
        visibility: hidden;
    }
}
